{% extends "template.html" %}
{% block conteudo %}
    <section class="hero is-medium is-esem">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-white">
                    Big Data Science - Spark
                </h1>
                <h2 class="subtitle has-text-white">
                    Trabalho final da disciplina Big Data Science da Pós-Graduação UFRJ
                </h2>
                <a class="button is-primary" href="/"><i class="fas fa-arrow-circle-left margin-right"></i>Voltar</a>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">Data Visualization</h1>
            <a class="button is-info" href="https://datastudio.google.com/u/0/reporting/daf550a3-2c81-4cf8-909a-1fcf37712d34/page/S8Z1" target="_blank">Mortes por Município e Estado</a>
            <a class="button is-info" href="https://datastudio.google.com/u/0/reporting/d55d7022-39ec-47b3-80f9-4a75e1021687/page/RHZ1" target="_blank">Causas de Morte - Por Sexo e Causa</a>
            <a class="button is-info" href="https://datastudio.google.com/u/0/reporting/8cc9df3b-e00d-4a51-8f3b-e936cba26359/page/hEZ1" target="_blank">Média de Idade</a>
            <a class="button is-info" href="https://datastudio.google.com/u/0/reporting/b76cc062-35fe-4f52-8726-0b943d136d47/page/aBZ1" target="_blank">Gênero e Dia da Semana</a>
            <a class="button is-info" href="https://datastudio.google.com/u/0/reporting/e58403e7-96b9-423b-b76b-958f822b3806/page/QxY1" target="_blank">Gestação, Sexo e Raça/Cor</a>
        </div>
    </section>
{% endblock %}