{% extends "template.html" %}
{% block conteudo %}
    <section class="hero is-medium is-esem">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-white">
                    Big Data Science - Spark
                </h1>
                <h2 class="subtitle has-text-white">
                    Trabalho final da disciplina Big Data Science da Pós-Graduação UFRJ
                </h2>
            </div>
        </div>
    </section>
    <section class="section ">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <article class="message is-info">
                        <div class="message-header">
                            <p>1. Sobre os dados</p>
                        </div>
                        <div class="message-body">
                            <strong>Informações sobre os dados</strong><br>
                            Dados do Sistema de Informações de Mortalidade (SIM) reunidos pela Plataforma de Ciência de Dados aplicada à Saúde (PCDaS). Os dados foram obtidos junto ao DATASUS (Ministério da Saúde), tratados e enriquecidos seguindo uma metodologia própria de ETL da PCDaS, resultando em um dataset anual com todos os registros das declarações de óbito contidas no SIM à partir de 1996.<br><br>
                            <a class="button is-success" href="https://bigdata-metadados.icict.fiocruz.br/dataset/sistema-de-informacoes-de-mortalidade-sim/resource/137051c9-7f8c-4980-9149-b84eba1ff927" target="_blank"><i
                                    class="fas fa-plus margin-right" aria-hidden="true"></i>Saiba
                                mais</a>
                        </div>
                    </article>
                </div>
                <div class="column">
                    <article class="message is-info">
                        <div class="message-header">
                            <p>2. Planejamento</p>
                        </div>
                        <div class="message-body">
                            <strong>O que iremos fazer</strong><br>
                            Utilizar  os dados provisionados pelo Ministério da Saúde para realizar uma análise exploratória visual, utilizando a ferramenta de processamento de Big Data Spark. O esquema de processamento será o seguinte:<br>
                            .CSV -> SPARK (PySpark - Spark SQL + Pandas) -> SGBD MYSQL -> GOOGLE DATA STUDIO
                            <br><br>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="section ">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <article class="message is-info">
                        <div class="message-header">
                            <p>3. Spark</p>
                        </div>
                        <div class="message-body">
                            <strong>O processamento dos dados</strong><br>
                            Nesta etapa o Spark processará os dados do arquivo.csv, executará as queries SQL na tabela temporária do dataframe principal e exportará para uma database de um SGBD MySql. Ao clicar no botão <strong>Processar dados</strong>, o sistema executará todo o processamento necessário. Acompanhe o processo pela console do servidor SPARK/PYTHON. Em <strong>Download .csv</strong>, você poderá ver o resultado do processamento do 1º dataframe gerado pelas queries Spark SQL.<br><br>
                           
                            <a class="button is-primary"
                                href="/spark"
                                ><i class="fas fa-sign-in-alt margin-right"
                                    aria-hidden="true"></i>Processar dados</a>

                            <a class="button is-success" href="/download"><i
                                class="fas fa-plus margin-right" aria-hidden="true"></i>Download .csv</a>
                        </div>
                    </article>
                </div>
                <div class="column">
                    <article class="message is-info">
                        <div class="message-header">
                            <p>4. Data Visualization</p>
                        </div>
                        <div class="message-body">
                            <strong>Visualização do dashboard</strong><br>
                            Dashboards construídos a partir da análise das tabelas geradas pelo Spark que foram enviadas para o servidor MySQL conectado ao Google Data Studio<br><br>
                            <a class="button is-primary" href="/datavisualization"><i class="fas fa-sign-in-alt margin-right" aria-hidden="true"></i>Acessar</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}