<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="isaac.dcesares@gmail.com">
    <title>Big Data Science - Spark</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.min.css') }}">
    <script src="{{ url_for('static', filename='bulma.js') }}"></script>
    <script defer src="{{ url_for('static', filename='all.min.js') }}"></script>
  </head>
  <body>
    <div class="page-container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="notification is-primary">
                  <button class="delete"></button>
                  <strong>{{ message }}</strong> 
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block conteudo %}{% endblock %}
    </div>
  </body>
</html>